node_modules
dist
dist-ssr
*.local
out.css

.DS_Store
*.log
npm-debug.log*

README.local.md

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
.idea/*
!.idea/IntelliLang.xml
!.idea/prettier.xml
!.idea/inspectionProfiles/

.claude/
CLAUDE.md
