@use '@scss' as *;

.alert {
	display: grid;
	gap: rem(4);
	padding: rem(15) rem(20);
	border: 1px solid var(--sss-border);
	border-radius: var(--sss-border-radius);

	&--warning {
		border-color: var(--sss-warning);
	}

	&--error {
		border-color: var(--sss-error);
	}

	&__title {
		font-weight: 600;
	}
}
