@use '@scss' as *;

.switch {
	position: relative;

	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus-visible + .switch__label .switch__track {
			box-shadow: 0 0 5px var(--sss-bg-accent);
		}

		&:checked + .switch__label .switch__track {
			background-color: var(--sss-bg-accent);

			&::before {
				transform: translateX(100%);
			}
		}
	}

	&__label {
		display: inline-flex;
		align-items: center;
		gap: rem(10);
		cursor: pointer;
	}

	&__track {
		position: relative;
		flex: 0 0 rem(40);
		width: rem(40);
		height: rem(22);
		border-radius: rem(11);
		background-color: var(--sss-border);
		transition: background-color var(--sss-transition-time) var(--sss-transition-ease);

		&::before {
			position: absolute;
			top: rem(2);
			left: rem(2);
			width: rem(18);
			height: rem(18);
			border-radius: 50%;
			background-color: var(--sss-bg-inverse);
			transition: transform var(--sss-transition-time) var(--sss-transition-ease);
			content: '';
		}
	}

	&__text {
		align-self: center;
	}
}
