@use '@scss/breakpoints' as breakpoint;
@use '@scss/project-mixins' as *;

.title {
	font-family: var(--sss-font-secondary);
	font-size: var(--sss-title-font-size, rem(24));
	font-weight: 700;
	line-height: 1.1;
	text-transform: capitalize;
	color: var(--sss-title-color, var(--sss-text-white));

	&--xl {
		@include adaptiveValue('--sss-title-font-size', 42, 110);
	}

	&--l {
		@include adaptiveValue('--sss-title-font-size', 22, 90);
	}

	&--m {
		@include adaptiveValue('--sss-title-font-size', 28, 60);
	}

	&--s {
		--sss-title-font-size: #{rem(28)};

		@include adaptiveValue('font-size', 28, 56);
	}

	&--xs {
		@include adaptiveValue('--sss-title-font-size', 20, 24);
	}
}
