@use '@scss/breakpoints' as breakpoint;
@use '@scss/project-mixins' as *;

.title-block {
	display: grid;
	gap: rem(4);
	font-size: var(--sss-title-block-font-size, rem(80));
	color: var(--sss-title-block-color, var(--sss-text-primary));

	@include adaptiveValue('--sss-title-block-font-size', 36, 80);
}
