<div class="slider" data-slider>
	<div class="slider__wrapper">
		<div class="slider__slide">
			<div class="slider__content">Slide 1</div>
		</div>
		<div class="slider__slide">
			<div class="slider__content">Slide 2</div>
		</div>
		<div class="slider__slide">
			<div class="slider__content">Slide 3</div>
		</div>
		<div class="slider__slide">
			<div class="slider__content">Slide 4</div>
		</div>
		<div class="slider__slide">
			<div class="slider__content">Slide 5</div>
		</div>
	</div>

	<div class="slider__controls">
		<button
			type="button"
			class="slider__arrow slider__arrow--prev _icon-arrow-down"
			aria-label="Previous slide"
			data-slider-prev
		></button>
		<div class="slider-pagination" data-slider-pagination></div>
		<button
			type="button"
			class="slider__arrow slider__arrow--next _icon-arrow-down"
			aria-label="Next slide"
			data-slider-next
		></button>
	</div>
</div>
