<header class="header" data-header="120">
	<div class="header__container">
		<a href="#" class="header__logo">
			<img class="header__image" src="@img/logo.png" alt="" width="144" height="26" />
		</a>
		<nav class="header__menu menu">
			<ul class="menu__list" data-menu>
				<li class="menu__item _active" data-menu-item>
					<a href="#" class="menu__link">Design</a>
				</li>
				<li class="menu__item" data-menu-item>
					<a href="#" class="menu__link">Som</a>
				</li>
				<li class="menu__item" data-menu-item>
					<a href="ui.html" class="menu__link">Especificações</a>
				</li>
			</ul>
		</nav>

		<button
			type="button"
			data-popup="#popup-feedback"
			data-da=".menu,767"
			class="header__button button button--primary button--m"
		>
			Comprar
		</button>

		<button type="button" class="header__burger burger-menu" aria-label="Menu"></button>
	</div>
</header>
