@use '@scss' as *;

[data-wave] {
	filter: url('#wave');

	@media (prefers-reduced-motion: reduce) {
		filter: none;
	}
}

.svg-filters {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}
