@use '@scss' as *;

.tooltip {
	position: relative;

	&::after {
		position: absolute;
		z-index: 5;
		bottom: calc(100% + #{rem(8)});
		left: 50%;
		padding: rem(4) rem(10);
		border-radius: var(--sss-border-radius);
		background-color: var(--sss-text-primary);
		font-size: rem(12);
		white-space: nowrap;
		color: var(--sss-text-secondary);
		opacity: 0;
		transform: translateX(-50%);
		transition: opacity var(--sss-transition-time) var(--sss-transition-ease);
		pointer-events: none;
		content: attr(data-tooltip);
	}

	@include hover {
		&::after {
			opacity: 1;
		}
	}
}
