<div id="popup-feedback" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close" aria-label="Fechar"></button>
			<div class="feedback">
				<div class="feedback__head">
					<p class="feedback__label">Fale conosco</p>
					<h2 class="feedback__title">Vamos conversar</h2>
					<p class="feedback__description">
						Deixe seu contato e uma mensagem. Respondemos em até um dia útil
					</p>
				</div>
				<load src="src/partials/forms/feedback-form/feedback-form.html" />
			</div>
		</div>
	</div>
</div>
